* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container{
  border: 2px solid darkolivegreen;
margin: 150px auto;
/* margin-left: 450px; */
/* margin-right: 450px; */
margin-top: 150px;
max-width: 95%;
  /* padding-left: 50px; */
  /* padding-right: 50px; */
  width: 500px;
  background-color: darkolivegreen;
  border-radius: 10px;
}
.header{
  text-align: center;
}
input{
  border-radius: 50px;
  /* width: 100%; */
}
.add{
  border-radius: 50px;
  background-color: black;
  color: white;
  width: auto;
   padding:4px 10px;
  cursor: pointer;
  /* max-width: 100%; */
}
section{
text-align: center;
/* margin-top: 6px; */
  
}

.clear{
  color: white;
  background-color: black;
  border-radius: 50px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 5px;
 padding:6px 10px;
  cursor: pointer;

}










/* @media (max-width: 400px) {
    .container{
     max-width: 95%
    }
} */